<p> Welcome, <%=current_user.name %> </p>
<h2> Here's a list of all activities</h2>


 <% @daily_activities.each do |daily_activity| %>
 
    <h4><a href="/daily_activities/<%= daily_activity.id %>">See more</a>
    <%= daily_activity.description %>
    <%= daily_activity.location %>
    <%= daily_activity.books %>
    <%= daily_activity.medication %>
    <p> entered by: 
    	<% if daily_activity.care_giver %>
    		<%= daily_activity.care_giver.name %>
    	<%end %>
    </p>

<% end %>